@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* The main container that will hold the lines */
    body {
      @apply bg-black h-full text-white overflow-x-clip;
      position: relative;
      width: 100%;
      min-height: 100%;
      background-image: linear-gradient(to right,
      rgba(58, 63, 68, 0.5) 2px,
        transparent 1px
      );
      background-size: calc(100%/4) 100%; /* Creates 12 equal width columns */
      background-repeat: repeat-x;
    }

    /* Ensuring all other content will appear above the lines */
    main {
      @apply mx-4;
       position: relative;
        z-index: 2; /* Ensure that content is above the lines */
        /* Your content styles here */
    }

    /* Medium screens (e.g., tablets) */
    @media screen and (min-width: 768px) {
      body {
        /* Adjust to 6 equal columns */
        background-size: calc(100%/6) 100%;
      }
      main {
        @apply mx-8; /* adjust the margins as needed for medium screens */
      }
    }

    /* Large screens */
    @media screen and (min-width: 1024px) {
        body {
            /* Adjust to 6 equal columns */
            background-size: calc(100%/12) 100%;
          }
      main {
        @apply mx-32; /* adjust the margins as needed for large screens */
      }
    }

}

@layer components {
  .glass-card{
    border-radius: 0.25rem;
    border: 1px solid rgba(252, 252, 252, 0.50);
    background: linear-gradient(132deg, rgba(10, 8, 5, 0.50) 2.32%, rgba(90, 85, 75, 0.20) 101.48%);
    backdrop-filter: blur(5px);
  }
  .glass-card-light{
    border-radius: 0.25rem;
    border: 1px solid rgba(252, 252, 252, 0.50);
    background: linear-gradient(132deg, rgba(241, 217, 185, 0.38) 2.32%, rgba(245, 233, 213, 0.45) 101.48%);
    backdrop-filter: blur(5px);
  }
.silicon-gradient{background: linear-gradient(90deg, #F6D58C 0%, #F3BD78 31%, #EC8045 97%, #EC7D43 100%);}
}